.card-task {
    margin-bottom: 25px;
    width:250px;
    color: #2c2929;
    background-color: #ffffff !important;
    cursor: move;
  }

  .card-header.stage-header h6 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%; 
    font-weight: bold;
    font-family: 'Roboto', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    letter-spacing: 2px;
  }

  .card-task-option i {
    color: #fff !important;
    font-size: 14px;
  }
  
  .card-task-option {
    display: inline !important;
    float: right !important;
    cursor: pointer !important;
  }
  
  .column-wrapper {
    margin: 0px 20px;
    padding: 0px 20px;
    overflow-x: auto;
  }
  
  .inner-column-wrapper {
    width: 2350px;
  }
  
  .card-column {
    float: left;
    margin-left: 20px;
    width: 290px;
  }
  .card-column:first-of-type {
    margin-left: 0;
  }
  
.card-item-container {
  margin-bottom: 15px; 
}
